<md-content layout-padding>
    <h3 class="widget__title">Logowanie</h3>
    <form name="loginForm" layout="column">
        <md-input-container>
            <label>Login</label>
            <input ng-model="form.nick" required>
            <div ng-messages="loginForm.form">
                <div ng-message="required">To pole jest wymagane</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Hasło</label>
            <input type="password" ng-model="form.haslo" required>
            <div ng-messages="loginForm.form">
                <div ng-message="required">To pole jest wymagane</div>
            </div>
        </md-input-container>
        <md-button type="submit" ng-click="submit()" ng-disabled="!loginForm.$valid">Zaloguj</md-button>
    </form>
</md-content>