<md-card class="md-padding">
    <md-card-title>
        <h3>Logowanie</h3>
    </md-card-title>
    <md-card-content>
        <form name="loginForm" layout="column">
            <md-input-container>
                <label>Login</label>
                <input ng-model="form.nick" required>
                <div ng-messages="loginForm.form">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Hasło</label>
                <input type="password" ng-model="form.haslo" required>
                <div ng-messages="loginForm.form">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="!loginForm.$valid">Zaloguj
            </md-button>
        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="goToRegister()">Rejestracja</md-button>
    </md-card-actions>
</md-card>