<div class="film">
    <img class="film__image" ng-src="{{details.url_p}}" alt="alt">
    <div class="film__details">
        <h2 class="film__title">{{details.tytul}}</h2>
        <p class="film__desc">{{details.opis}}</p>
        <a class="film__link" href="#!/films/{{details.film_id}}">Zobacz całość</a>

        <!--<ul>-->
            <!--<li ng-repeat="country in details.kraje">{{country.nazwa}}</li>-->
        <!--</ul>-->
        <!--<h1>Gatunki</h1>-->
        <!--<ul>-->
            <!--<li ng-repeat="genre in details.gatunki">{{genre.nazwa}}</li>-->
        <!--</ul>-->
        <!--<h1>Rok</h1>-->
        <!--<p>{{details.rok_premiery}}</p>-->
    </div>
</div>
