<div class="widget">
    <h3 class="widget__title">Rejestracja</h3>
    <form name="registerForm" class="form form--block">
        <div class="form__group">
            <label for="login" class="form__label">Nazwa użytkowika</label>
            <input ng-model="form.nick" type="text" id="login" class="form__in form--input" required>
        </div>
        <div class="form__group">
            <label for="email" class="form__label">E-mail</label>
            <input ng-model="form.email" type="email" id="email" class="form__in form--input" required>
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Hasło</label>
            <input ng-model="form.haslo" type="password" id="password" class="form__in form--input" required>
        </div>
        <div class="form__group">
            <input ng-disabled="!registerForm.$valid" ng-click="submit()" class="form__submit"  type="submit" value="Rejestracja">
        </div>
    </form>
    <p>Posiadzasz już konto? <a href="#!/rejestracja">Zaloguj się!</a></p>
</div>