<md-content layout-padding>
    <h3 class="widget__title">Rejestracja</h3>
    <form name="registerForm" layout="column">
        <md-input-container>
            <label>Nazwa użytkowika</label>
            <input ng-model="form.nick" required>
            <div ng-messages="loginForm.form">
                <div ng-message="required">To pole jest wymagane</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Hasło</label>
            <input ng-model="form.haslo" type="password" required>
            <div ng-messages="loginForm.form">
                <div ng-message="required">To pole jest wymagane</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Hasło</label>
            <input ng-model="form.email" type="email" required>
            <div ng-messages="loginForm.email">
                <div ng-message="required">To pole jest wymagane</div>
            </div>
        </md-input-container>
        <div>
            <md-button type="submit" ng-click="submit()" ng-disabled="!registerForm.$valid">Rejestruj</md-button>
        </div>
    </form>
</md-content>