<md-card class="md-padding">
    <md-card-title>
        <h3>Rejestracja</h3>
    </md-card-title>
    <md-card-content>
        <form name="registerForm" layout="column" novalidate>
            <md-input-container>
                <label>Nazwa użytkowika</label>
                <input ng-model="form.nick" required>
                <div ng-messages="loginForm.form">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Hasło</label>
                <input ng-model="form.haslo" type="password" required>
                <div ng-messages="loginForm.form">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>E-mail</label>
                <input ng-model="form.email" type="email" required>
                <div ng-messages="loginForm.form">
                    <div ng-message="required">To pole jest wymagane</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="!registerForm.$valid">Rejestruj
            </md-button>
        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="btn1" ng-click="goToLogin()">Logowanie</md-button>
    </md-card-actions>


</md-card>