@import "./../libs/angular-material/angular-material.min.css"

@import "vars"
//@import "grid"

$base-color: #dddddd
$nav-bg: #787878

*, *:before, *:after
  box-sizing: border-box

a
  cursor: pointer

img
  max-width: 100%

body
  background-color: $base-color

/*=================
/*  typotography
/*=================
input, textarea, select
  display: inline-block
  padding: 5px 10px
  border-radius: 5px
  outline: none
  border: none
  font-size: inherit
  font-family: inherit

label
  display: inline-block

textarea
  resize: vertical

/*=================
/*  page nav
/*=================
.page-nav
  background: $nav-bg
  display: flex
  justify-content: space-between

  &__logo
    padding: 25px 40px
  &__list
  &__item
    display: inline-block
    padding: 25px 40px

  &__link
    text-decoration: none

/*=================
/*  jumbotron
/*=================
.jumbotron
  text-align: center
  padding: 50px 10px
  &__title
    padding-bottom: 30px
    font-size: 3em
  &__desc

/*=================
/*  side bar
/*=================
.side-bar
  background: $base-color
  padding: 20px

/*=================
/*  widget
/*=================
.widget
  margin-bottom: 35px
  &:last-child
    margin-bottom: 0

  &__title
    font-size: 2em
    padding-bottom: 10px
    border-bottom: 2px solid #000
    margin-bottom: 10px
  &__item
    margin-left: 50px
    padding-left: 20px
    list-style-type: decimal
  &__link
    text-decoration: underline

/*=================
/*  film-short
/*=================
.film-short
  $img-width: 100px
  display: flex
  margin-bottom: 50px

  &__title
    font-weight: bold
    font-size: 1.5em
    text-align: left
    padding-bottom: 15px
  &__details
    width: calc(100% - #{$img-width})
  &__image
    width: $img-width
    height: 100%
    margin-right: 15px
  &__desc
    text-align: justify
  &__link
    display: block
    padding-top: 15px
    text-align: right

/*=================
/*  film-short
/*=================
.film-full
  &__title
    font-size: 3em
  &__year
    font-size: .4em
    &:before
      content: '('
    &:after
      content: ')'

  &__image
    width: 100%
    height: auto
  &__detail

.detail
  &__name
    margin-top: 15px
    font-size: 1.3em

  &__list
    margin-left: 25px
    list-style: disc
  &__item
    padding: 3px 0
  &__omen
    display: inline-block
    padding: 10px 15px

/*=================
/*  form
/*=================
.form
  font-size: 1em

  &__group
    margin: 5px 0

  &__label

  &__input

  &__select

  &__textarea

  &__submit
    display: block
    margin-left: auto

.form--block
  .form__in
    width: 100%
    display: block
  .form__label
    padding-top: 15px
    padding-bottom: 5px

/*=================
/*  alert
/*=================
.alert
  padding: 5px 10px
  background: #a94442
  border-radius: 10px