<md-card>
    <md-toolbar class="md-toolbar-custom">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSearch()">
                <i class="material-icons md-button-img">search</i>
                Wyszukiwarka
            </md-button>
        </div>
    </md-toolbar>

    <form class="closable" ng-show="showSearch">
        <md-card-content>
            <md-input-container class="md-block no-margin-bottom no-margin-top">
                <label>Tytuł</label>
                <input ng-model="search.tytul">
                <div class="hint">Wprowadź nazę filmu</div>
            </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block " flex-gt-sm>
                    <label>Gatunki</label>
                    <md-select ng-model="search.gatunek">
                        <md-option ng-repeat="genre in genres" ng-value="genre.nazwa">
                            {{genre.nazwa}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Kraje</label>
                    <md-select ng-model="search.kraj">
                        <md-option ng-repeat="country in countries" ng-value="country.nazwa">
                            {{country.nazwa}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" layout-align="end">
                <md-button type="submit" class="md-raised md-primary" ng-click="getFilteredFilms()">Szukaj</md-button>
            </div>
        </md-card-content>
    </form>
</md-card>
<films-card ng-show="found" films="displayFilms"></films-card>
<md-card ng-hide="found">
    <md-card-content>
        <h1>Nie nie znaleziono!</h1>
    </md-card-content>
</md-card>



