<div class="jumbotron">
    <h1 class="jumbotron__title">Biblia filmów</h1>
    <p class="jumbotron__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget dapibus risus. Praesent vel volutpat metus.
        Cras est mauris, sollicitudin quis ipsum quis, tempor ullamcorper velit. Pellentesque varius mauris nulla, eget
        aliquam risus porttitor ac. Vestibulum vestibulum leo non augue gravida efficitur. Phasellus quis suscipit
        lectus. Fusce molestie tortor vel nunc pulvinar cursus. Donec feugiat.
    </p>
</div>

<div class="film-container">
    <h2>Najnowsze filmy</h2>
    <films array="films"></films>
</div>

