<div class="widget">

    <h3 class="widget__title">Logowanie</h3>
    <form name="loginForm" class="form form--block">
        <div class="form__group">
            <label for="login" class="form__label">Nazwa użytkowika</label>
            <input ng-model="form.nick" type="text" id="login" class="form__in form--input" required>
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Hasło</label>
            <input ng-model="form.haslo" type="password" id="password" class="form__in form--input" required>
        </div>
        <div class="form__group">
            <input ng-click="submit()" ng-disabled="!loginForm.$valid" class="form__submit" type="submit" value="Zaloguj się">
        </div>

        <p>Nie posiadasz konta? <a href="#!/rejestracja">Zarejestuj się!</a></p>
    </form>
</div>