<md-card>

    <md-card-title>
        <md-card-title-media class="md-padding">
            <img ng-src="{{film.url_p}}" alt="asds">
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-display-1">{{film.tytul}} <span class="film__year">{{film.rok_premiery}}</span></span>
            <span class="md-title">Gatunek</span>
            <ul class="film__details">
                <li ng-repeat="genre in film.gatunki">{{genre.nazwa}}</li>
            </ul>
            <span class="md-title">Kraj</span>
            <ul class="film__details">
                <li ng-repeat="country in film.kraje">{{country.nazwa}}</li>
            </ul>
            <span class="md-title">Ocena użytkowików</span>
            <span class="md-subhead">666/213</span>
            <!--<div ng-show="user.isLogged">-->
                <span class="md-title">Twoja ocena:</span>
                <md-input-container>
                    <label>Oceń film</label>
                    <md-select ng-model="rate.ocena">
                        <md-option ng-repeat="i in [1,2,3,4,5]" ng-value="i">{{i}}</md-option>
                    </md-select>
                </md-input-container>
            <!--</div>-->
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <h2>Opis filmu</h2>
        <p>
            {{film.opis}}
        </p>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-show="user.data.privileges.edit" ui-sref="filmsEdit({id: film.film_id})">Edytuj</md-button>
        <md-button ng-show="user.data.privileges.edit" ng-click="removeFilm($event)">Usuń</md-button>
    </md-card-actions>
</md-card>

