<md-card>
    <md-card-title>
        <md-card-title-media>
            <div class="card-media card-media-custom">
                <img ng-src="{{film.url_p}}" alt="asds">
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-display-3">{{film.tytul}} <span class="film__year">{{film.rok_premiery}}</span> </span>

            <span class=".md-title">Gatunek</span>
            <span class="md-subhead">
                    <span class="genre-list" ng-repeat="genre in film.gatunki">{{genre.nazwa}}</span>
            </span>
            <span class=".md-title">Kraj</span>
            <span class="md-subhead">
                    <span class="genre-list" ng-repeat="country in film.kraje">{{country.nazwa}}</span>
            </span>
            <md-button ng-href="{{film.url_z}}">Zobacz zwiastun</md-button>
        </md-card-title-text>
    </md-card-title>

</md-card>

<md-card>
    <md-card-content>
        <h2>Opis filmu</h2>
        <p>
            {{film.opis}}
        </p>
    </md-card-content>
</md-card>
